* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  color: #333;
  letter-spacing: 0.7px;
  width: 100vw;
  background-color: #F5F4F1;
}
body::after{
  content: '';
  background-image: url('/resources/css/Waihou.svg');
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


/* header section */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  margin: auto;
  padding: 20px 0 60px 0;
}

/* .first {
  color: #5CB85C;
}

.second {
  color: #333;
}

.third {
  color: #333;
}

.four {
  color: #D9534F;
} */

.title {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 46px;
  filter: drop-shadow(2px 2px 2px #118ab2);

}

.title a {
  text-decoration: none;
  outline: none;
  color: #073b4c;
}

.add {
  outline: none;
  border: none;
  font-size: 48px;
  font-weight: 400;
  color: #073b4c;
  background: transparent;
  cursor: pointer;
  transition: transform 0.6s ease-in-out;
  filter: drop-shadow(2px 2px 2px #118ab2);
}
.active{
  transform: rotate(90deg);
}
/* card template */
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
  margin-bottom: 60px;
}

.card {
  background-color: #ffd166;
  border-radius: 8px;
  padding: 16px 18px;
  margin: 8px auto;
  width: 410px;
  height: 150px;
  color: #333;
  border: 1px solid #b2afa1;
  z-index: 1;
  box-shadow: 1px 1px 1px 1px #858585; 
  /* maybe check out */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  /* maybe box shadow */

}

.card-top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 10px;
}
.card-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content {
  word-break: break-word;
  width: 360px;
  padding-right: 20px;
  padding-bottom: 16px;
  color: #333333;
  font-size: 18px;
  line-height: 20px;
}

.options {
  outline: none;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  font-weight: 100;
}
.remove, .read{
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 17px;
  color: #333;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.remove{
  padding-right: 12px;

}

.line{
  text-decoration: line-through;
  text-decoration-style: double;
  text-decoration-color: #ef476f;
}

.input-title {
  display: none;
}

.input-show {
  width: 410px;
  margin: 0 auto;
  position: absolute;
  left: 8px;
  right: 10px;
  top: 110px;
}

.input-show>input[type='text'] {
  width: 100%;
  margin: auto;
  font-size: 18px;
  padding: 8px 16px;
  outline: none;
  border-radius: 6px;
  border: 1px solid #b2afa1;
  box-shadow: 1px 1px 1px 1px #858585; 
  color: #333;
  opacity: 0.9;
}

.input-description {
  padding-top: 30px;
  padding-bottom: 40px;
}

/* custom checkbox */
.custom-done{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #b2afa1;
  background-color: transparent;
}
.custom-done:hover{
  background-color: #06d6a0;
  border: 2px solid #ffd166;
  border-width: 4px;
  border-style: double;

}
.custom-remove{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #b2afa1;
}
.custom-remove:hover{
  background-color: #ef476f;
  border: 2px solid #ffd166;
  border-width: 4px;
  border-style: double;
}
.custom-text{
  padding-left: 4px;
}


/* footer */
footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-top: 1px solid #e0e0e0;
  overflow: hidden;

}

footer a {
  text-decoration: none;
  font-weight: 400;
}

footer .minja {
  color: #333;
}

footer .danny {
  color: #06d6a0;
  padding: 0 4px;
}

footer .guel {
  color: #ef476f;
}


/* media queries */
@media(min-width:780px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4px;
  }

  .input-show {
    top: 40px;
    left: 40px;
    width: 50vw;
  }
}